<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd"
	default-lazy-init="true">
	
	<context:component-scan base-package="com.hujz" />
	<aop:aspectj-autoproxy proxy-target-class="true"/>
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    	<property name="fileEncoding" value="UTF-8" />
        <property name="locations">
            <list>  
                <value>classpath*:conf/soft/properties/**/*.properties</value>
            </list>
        </property>
    </bean>
    
    <bean id="properties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<list>  
                <value>classpath*:conf/soft/properties/**/*.properties</value>
            </list>
		</property>
		<qualifier value="main"/>
	</bean>
	
	<import resource="classpath*:conf/soft/dataSource/**/**/**/*.xml"/>
	<import resource="classpath*:conf/soft/spring/**/**/**/*.xml"/>
</beans>