#folder
/.idea
/out
**/target/
**/.settings/
**/.classpath
**/.project

#file
#.gitignore
*.log*
*.iml

/api/ias-api-quene-wg/src/main/resources/application-dev.properties
/api/ias-api-quene-wg/src/main/resources/application.properties
/api/ias-api-quene-wg/src/main/resources/application-prod.properties
/api/ias-api-quene-wg/src/main/resources/application-emulation.properties

