<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoder 默认配置为PatternLayoutEncoder -->
		<encoder>
			<pattern>[%d{dd/MM/yy hh:mm:ss:sss z}] %5p %c{2}: %m%n</pattern>
		</encoder>
	</appender>

	<logger name="com.hujz" level="DEBUG" />
	<logger name="org.springframework" level="WARN"/>
	<logger name="org.springframework.boot.context.web.ErrorPageFilter">
		<level value="OFF" />
	</logger>
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>